h1{
    color: red;
}

.flip-card{
background-color: aquamarine;
display: flex;
flex-direction: column;

}

.top .bottom{
    height: 50%;
    line-height: 1;
}

.top{
background-color: #f2f7f7;
}

.bottom{
    background-color: white;
    
}


.flip-card::before{
    content: "4"
}


.flip-card::after{
    content: "5";
}